.blog-home-section {
  padding: 70px 0 130px;
}

.blog-home-posts-wrapper {
  max-width: 794px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.blog-home-post-wrapper {
  &:not(:first-child) {
    border-top: 1px solid #d6d6d6;
    margin-top: 60px;
    padding-top: 60px;
  }
}

.blog-home-post-image {
  width: 100%;
  max-height: 546px;
  object-fit: cover;
}

.blog-home-post-title {
  margin-top: 56px;
  font-family: $font-mono;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.786;
}

.blog-home-post-excerpt {
  margin-top: 20px;
  font-family: $font-mono;
  font-size: 17px;
  line-height: 2.353;
}

.blog-home-post-button-wrapper {
  margin-top: 20px;
}
