/**
 * Header
 */

.homepage-header {
  padding: 80px 0 100px;

  @media (max-width: 565px) {
    padding: 60px 0;
  }
}

.homepage-header-title {
  max-width: 764px;
  font-family: $font-mono;
  font-size: 28px;
  line-height: 1.786;

  @media (max-width: 565px) {
    font-size: 22px;
    line-height: 1.909;
  }
}

/**
 * Banner
 */

.homepage-banner {
  position: relative;

  @media (max-width: 1000px) {
    position: static;
    overflow: hidden;
    font-size: 0;
  }
}

.homepage-banner-image {
  width: 100%;
  height: 600px;
  background-color: #f6f6f6;
  object-fit: cover;
  object-position: left center;

  @media (max-width: 1000px) {
    width: 200%;
    height: auto;
  }
}

.homepage-banner-box-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1000px) {
    position: static;
  }
}

.homepage-banner-box {
  position: relative;
  top: 180px;
  width: 100%;
  max-width: 565px;
  margin-left: auto;
  padding: 70px;
  background-color: #121212;
  color: white;
  font-family: $font-mono;
  font-size: 17px;
  line-height: 2.353;

  @media (max-width: 1000px) {
    position: static;
    max-width: none;
    margin-left: 0;
  }

  @media (max-width: 565px) {
    padding: 60px;
    font-size: 16px;
    line-height: 2.25;
  }

  p:not(:first-child) {
    margin-top: 40px;

    @media (max-width: 565px) {
      margin-top: 30px;
    }
  }
}

/**
 * Slices
 */

.homepage-slices-wrapper {
  padding: 130px 0;
}

.homepage-slice-wrapper {
  &:not(:first-child) {
    margin-top: 130px;
  }
}
