.footer {
  min-height: 420px;
  padding: 90px 0;
  background: #f6f6f6 url('/img/footer-background.png') no-repeat center;

  @media (max-width: 1680px) {
    background-size: cover;
  }
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1000px) {
    align-items: flex-start;
    padding: 0 60px;
  }

  @media (max-width: 565px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.footer-name {
  font-size: 28px;
  font-weight: 700;
}

.footer-social-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.footer-social-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 20px;
  }

  width: 28px;
  height: 28px;

  img {
    width: 100%;
    height: 100%;
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  color: #7f7d7c;

  @media (max-width: 1000px) {
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 20px;
    text-align: right;
  }

  @media (max-width: 565px) {
    margin-left: 0;
    margin-top: 40px;
    text-align: left;
  }
}

.footer-nav-link {
  &:not(:last-child) {
    margin-right: 40px;

    @media (max-width: 1000px) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}
